[submodule "autograder-server"]
	path = autograder-server
	url = ../autograder-server.git
	branch = release-2024.08.x
[submodule "ag-website-vue"]
	path = ag-website-vue
	url = ../ag-website-vue.git
	branch = release-2024.08.x
