[submodule "autograder-server"]
	path = autograder-server
	url = ../autograder-server.git
	branch = release-4.0.0
[submodule "ag-website-vue"]
	path = ag-website-vue
	url = ../ag-website-vue.git
	branch = release-1.2.0
